.our-team-section {
    background-color: #F5F4FA;

    & .icon-list {
        width: 206px;
        display: inline-flex;
        justify-content: space-between;
        text-align: center;
    }
}

.our-team {
    &-list {
        @media screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width: $desktop) {
            justify-content: space-between;
        }
    }

    @media screen and (max-width: 767px) {
        &-item:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &-item {
        @media screen and (min-width: $tablet) and (max-width: 1199px) {
            width: calc((100% - 30px) / 2);
            &:nth-child(-n+2) {
                margin-bottom: 30px;
            }
            &:not(:nth-child(2n)) {
                margin-right: 30px;
            }
        }

        @media screen and (min-width: $desktop) {
            width: 270px;
        }
        
        overflow: hidden;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    &-img {
        width: 100%;
    }

    &-discription {
        padding-top: 30px;
        padding-bottom: 24px;

        @media screen and (min-width: $desktop) {
            padding: 30px;
        }
    
        background-color: map-get($colors, "active-text-btn-white-theme");
        text-align: center;
    }

    &-subtitle,
    &-text {
        font-size: 16px;
        line-height: 1.188;
        letter-spacing: 0.03em;
    }

    &-subtitle {
        margin-bottom: 10px;
    
        font-weight: 500;
        color: map-get($colors, "title-white-them");
    }

    &-text {    
        margin-bottom: 16px;
    }
}