.clients {
    & .container {
        padding: 94px 15px;
    }

    &-list {
        display: flex;
        justify-content: space-between;
    }

    &-item:not(:last-child) {
        margin-right: 30px;
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 90px;
    
        fill: #AFB1B8;
        border: 1px solid #AFB1B8;
        box-sizing: border-box;
        border-radius: 4px;
    
        transition-property: border, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border:1px solid map-get($colors, "accent-text");
            fill: map-get($colors, "accent-text");
        }
    }
}