.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    fill: #AFB1B8;

    transition-property: background-color, fill; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: map-get($colors, "accent-text");
        fill: map-get($colors, "text-btn-dark-theme");
    }
}