:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}

$colors: (
    "title-white-them": #212121,
    "title-dark-theme": #FFFFFF,
    "text-main": #757575,
    "accent-text": #2196F3,
    "text-btn-white-theme": #212121,
    "text-btn-dark-theme": #FFFFFF,
    "active-text-btn-white-theme":#FFFFFF,
    "active-text-btn-dark-theme": #212121,
);